<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Llaveros regitrados - Fotos</h1>
    <!-- It won't show if there is no student data -->
</div>
<div class="album py-5 bg-light">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="img">
          <img class="card-img-top" src="/assets/img/1-100/1.JPG" alt="LLAVERO01" width="50" height="350"><!-- "{{this.urlImage}}" -->
        </div>
        <div class="card-body">
          <p class="card-text">--Data.--</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/ver-llavero/{{llavero.$key}}">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

