<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
    
    <span class="dasboard-text">SMC - Sistema de Manejo de Colecciones</span>
  </a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link">
      </a>
    </li>
  </ul>
</nav>
<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar" style="margin-top: 70px;">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/agregar-llavero" routerLinkActive="active">
              <em class="fas fa-plus"></em> Agregar llavero
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listar-llaveros" routerLinkActive="active">
              <em class="fas fa-list-ul"></em> Lista de llaveros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/galeria-llavero" routerLinkActive="active">
              <em class="fas fa-image"></em> Galería de llaveros
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" style="margin-top: 50px;" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <!-- Use router template to show the components for which router service is activated -->
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>