<div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Añadir llavero</h1>
    <p class="custom-text">Porfavor complete los campos...
        </p>
  </div>
  
  <!-- Student form -->
  <form [formGroup]="llaverosForm" (ngSubmit)="submitStudentData()" novalidate>
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label>ID</label>
            <input type="number" formControlName="numero" class="form-control" required>
            <!-- Showing errors using getter method -->
            <p *ngIf="numero.touched && numero.invalid" class="error"><sup>*</sup>Debe ingresar el número del llavero</p>
          </div>

          <div class="col-md-12 mb-3">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control" required>
            <!-- Showing errors using getter method -->
            <p *ngIf="nombre.touched && nombre.invalid" class="error"><sup>*</sup>Debe ingresar el nombre del llavero</p>
          </div>
  
          <div class="col-md-12 mb-3">
            <label>Material</label>
            <input type="text" formControlName="material" class="form-control" required>
            <!-- Showing errors using getter method -->
            <p *ngIf="material.touched && material.invalid" class="error"><sup>*</sup>Debe ingresar el material del llavero</p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12 mb-3">
            <label>País</label>
            <input type="text" formControlName="pais" class="form-control" >
          </div>
  
          <div class="col-md-12 mb-3">
            <label>Comentarios</label>
            <input type="text" formControlName="comentarios" class="form-control" >
          </div>
        </div>
       
        <div class="form-group text-right">
          <button type="button" class="btn btn-warning mr-2" (click)="ResetForm()">Reset</button>
          <button type="submit" class="btn btn-primary" [disabled]="!llaverosForm.valid">Guardar</button>
        </div>
  
      </div>
    </div>
  </form><!-- Student form ends-->